<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.waheguru_ji.todoapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mainicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/mainicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="2017 To-Do"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="Register"
            android:label="Register"
            android:theme="@style/AppTheme" />
        <activity
            android:name="WriteHere"
            android:label="Write Here"
            android:theme="@style/AppTheme" />
        <activity
            android:name="LoginHere"
            android:label="Login"
            android:theme="@style/AppTheme" />
        <activity
            android:name="Developer"
            android:label="Developer's Profile"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>